# run pip install -r requirements
# would need to fulfill Camera and facenet requirements described on CogWorks website here: 
# https://rsokl.github.io/CogWeb/Video/prereqs.html

# tkinter
matplotlib
torch
torchvision
facenet-pytorch
numpy
# pickle
networkx
mygrad
# noggins
mynn
scikit-image
