# run pip install -r requirements
# would need to fulfill Camera and facenet requirements described on original We Love Bytes Vision Capstone here: 
# https://github.com/zoe-kch/CogWorks-Vision-Module-Capstone

# tkinter
matplotlib
torch
torchvision
facenet-pytorch
numpy
# pickle
networkx
mygrad
# noggins
mynn
scikit-image
